:root {
    --color-black: #000;
    --color-white: #fff;
    --color-text-light: #fff;
    --color-text-dark: #474e66;
    --color-link: #285de8;
    --color-link-hover: #2453cf;
    --color-blue800: #2c66fa;
    --color-blue700: #2a61ed;
    --color-blue600: #3c55d6;
    --color-blue500: #153ac2;
    --color-blue400: #163ecf;
    --color-background-light: hsla(0,0%,100%,0.1);
    --color-focus: #c5dbf1;
    --color-gray1000: #f6f6f8;
    --color-gray900: #f2f2f7;
    --color-gray800: #f0f0f0;
    --color-gray700: #cfd1d8;
    --color-gray600: #8d92a6;
    --color-gray500: #9898b3;
    --color-green800: #36d997;
    --color-green700: #33cb8d;
    --color-green600: #30bf86;
    --color-green500: #2db37d;
    --color-error: #ff8c8c;
    --gradient-green: linear-gradient(135deg,var(--color-green700),var(--color-green500));
    --gradient-green-light: linear-gradient(135deg,var(--color-green800),var(--color-green600));
    --gradient-blue: linear-gradient(135deg,var(--color-blue700),var(--color-blue500));
    --gradient-blue-light: linear-gradient(135deg,var(--color-blue800),var(--color-blue400));
    --shadow-default: 10px 10px 30px rgba(0,0,0,0.1);
    --shadow-btn-default: 5px 5px 15px rgba(0,0,0,0.2);
    --shadow-hover: 3px 3px 10px rgba(0,0,0,0.2);
    --shadow-active: 1px 1px 2px rgba(0,0,0,0.2);
    --width-wrapper-max: 1180px;
    --width-text-max: 780px;
    --header-height-main: 140px;
    --header-height: 90px;
    --scroll-percent: 0%;
}